body {
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  transition: background 0.3s;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.1em;
}